/*reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*color variable css*/
/*base css*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  color: #221E1F;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

sub {
  vertical-align: sub;
}

/*main css*/
.indexBody {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

.primaryBtn {
  font-size: 18px;
  color: #FFFFFF;
  background-color: #56C4C5;
  padding: 12px 32px;
  border-radius: 27px;
  display: inline-block;
  margin: 0 auto;
}

.primaryBtn:hover {
  background-color: #35999a;
}

.ball_1 {
  position: absolute;
  top: 589px;
  left: -222px;
  margin: 0 auto;
  z-index: -2;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/*header css*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header h1 > a {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  width: 218px;
  height: 40px;
}

.header > a {
  color: #FFFFFF;
  background-color: #FF5D50;
  padding: 8px 32px;
  border-radius: 22px;
}

.header > a:hover {
  background-color: #e91100;
}

/*banner css*/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 271px;
}

.bannerText h2 {
  color: #56C4C5;
  font-size: 18px;
}

.bannerText p {
  font-size: 48px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 16px;
}

.bannerText h3 {
  font-size: 20px;
}

.banner img {
  width: 50%;
}

/*platform css*/
.platform {
  margin-bottom: 100px;
}

.platform h2 {
  font-size: 32px;
  margin-bottom: 48px;
  font-weight: 700;
  text-align: center;
}

.platformItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.platformItem li {
  text-align: center;
  width: 24.8%;
}

.platformItem img {
  width: 30%;
}

.platformItem h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 24px 0px;
}

.platformItem p {
  font-size: 16px;
  color: #747474;
}

/*target css*/
.target {
  margin-bottom: 100px;
}

.target h2 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.target p {
  font-size: 20px;
  text-align: center;
  padding: 16px 0px 48px;
}

.targetItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.targetItem li {
  width: 23.9%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  background-color: #FFFFFF;
}

.targetItem img {
  border-radius: 12px 12px 0px 0px;
}

.targetItem h3 {
  color: #56C4C5;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 0px;
}

.targetItem p {
  font-size: 16px;
  padding: 0px 16px 24px;
}

/*feature css*/
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featureItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 507px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featureItem li {
  width: 230px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 32px 32px 48px;
  margin-bottom: 28px;
}

.decorImg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featureItem h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 24px 0px 16px;
}

.featureIntro {
  margin-right: 49px;
}

.featureIntro h2 {
  font-size: 32px;
  font-weight: 700;
}

.featureIntro p {
  font-size: 18px;
  padding: 16px 0px 24px;
}

/*review css*/
.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.review .ball_3 {
  position: absolute;
  z-index: -10;
  left: -90px;
  top: 50px;
}

.review h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 104px;
}

.reviewContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviewContent li {
  width: 32.4%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  padding: 48px 32px 24px;
  border-radius: 12px;
  position: relative;
  background-color: #FFFFFF;
}

.reviewContent li > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: 32px;
}

.reviewContent p {
  font-size: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}

.reviewContent h3 {
  font-size: 16px;
  font-weight: 700;
  padding: 24px 0px 8px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ratingStar img {
  vertical-align: text-bottom;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #DDDDDD;
}

.selected {
  width: 16px;
  height: 10px;
  background: #FFD153;
}

/*footer css*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footerBg_L {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.footerBg_S {
  display: none;
}

.footer h2 {
  margin: 19.36% auto 48px;
  font-size: 32px;
  font-weight: 700;
}

.footer a {
  margin-bottom: 100px;
}

.copyright {
  background: #F5F5F5;
  text-align: center;
}

.copyright {
  padding: 16px 0px;
}

@media (max-width: 992px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .featureIntro {
    text-align: center;
    margin: 0 auto;
  }
  .feature a {
    margin-bottom: 32px;
  }
  .reviewContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 100px;
    padding: 0px 24px;
  }
  .reviewContent li {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .ball_1 {
    top: 1040px;
    left: -108px;
    height: 209px;
  }
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner img {
    padding-top: 32px;
    width: 80%;
  }
  .platformItem li {
    width: 100%;
    padding-bottom: 24px;
  }
  .platformItem img {
    width: 90px;
  }
  .targetItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .targetItem li {
    width: 48%;
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .indexBody {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-position: 35% 6%;
    background-size: 80%;
  }
  .ball_1 {
    top: 743px;
    left: -77px;
    height: 126px;
  }
  .header {
    border-bottom: 2px solid #FFD153;
  }
  .header h1 > a {
    width: 130px;
    height: 24px;
  }
  .header > a {
    color: #FFFFFF;
    background-color: #FF5D50;
    padding: 8px 32px;
    border-radius: 22px;
  }
  .header > a:hover {
    background-color: #e91100;
  }
  .banner {
    margin-bottom: 92px;
  }
  .banner h2 {
    font-size: 16px;
  }
  .banner p {
    font-size: 32px;
  }
  .banner h3 {
    font-size: 16px;
  }
  .platform {
    margin-bottom: 60px;
  }
  .platform h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .platformItem h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 16px 0px;
  }
  .target {
    margin-bottom: 60px;
  }
  .target h2 {
    font-size: 28px;
  }
  .target p {
    font-size: 18px;
    padding: 16px 0px 32px;
  }
  .targetItem li {
    width: 100%;
    margin-bottom: 24px;
  }
  .targetItem p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .featureIntro h2 {
    font-size: 28px;
  }
  .featureIntro p {
    font-size: 16px;
    padding: 16px 0px 16px;
  }
  .feature {
    margin-bottom: 60px;
  }
  .featureItem {
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featureItem li {
    width: 85%;
    padding-left: 24px;
  }
  .review {
    margin-bottom: 60px;
  }
  .review h2 {
    font-size: 28px;
    margin-bottom: 88px;
  }
  .footerBg_L {
    display: none;
  }
  .footerBg_S {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .footer h2 {
    margin: 79.2% auto 24px;
    font-size: 24px;
    font-weight: 700;
  }
  .footer a {
    margin-bottom: 60px;
  }
}

/*--------pricing page css--------*/
.pricingBg {
  background-color: #F7F9FD;
  border-radius: 0px 0px 0px 300px;
  width: 100%;
  height: 470px;
  position: absolute;
  z-index: -5;
}

.pricingBgImg {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 559px;
  position: absolute;
  z-index: -1;
}

.header {
  margin-bottom: 92px;
}

.pricing_banner {
  margin-bottom: 280px;
}

.pricing_banner h2 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}

.pricing_banner p {
  font-size: 16px;
}

/*subSection css*/
.subSection h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 48px;
  text-align: center;
}

.charge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
  gap: 16px;
}

.charge a {
  font-size: 18px;
  color: #56C4C5;
  background-color: #FFFFFF;
  padding: 12px 32px;
  border-radius: 27px;
  border: 1px solid #56C4C5;
  display: inline-block;
  margin: 0 auto;
}

.charge a:hover {
  color: #FFFFFF;
  background-color: #56c4c5;
}

.charge .active {
  color: #FFFFFF;
  background-color: #56C4C5;
}

/*detail css*/
.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 21px;
  margin-bottom: 100px;
}

.detailContent {
  width: 50%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.detailContent h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0px;
  border-bottom: 1px solid #DDDDDD;
}

.contentBox {
  padding: 32px 24px;
}

.contentBox > p {
  font-size: 16px;
  margin-bottom: 32px;
}

.calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.user {
  background-color: #F5F5F5;
  padding: 24px 32px;
  border-radius: 12px;
}

.user p {
  font-size: 12px;
}

.userNumber p {
  font-size: 32px;
  color: #56C4C5;
  display: inline-block;
}

.userNumber span {
  color: #56C4C5;
  font-size: 12px;
}

.perMonth {
  background-color: #F5F5F5;
  padding: 24px 39px;
  border-radius: 12px;
}

.perMonth p {
  font-size: 12px;
  display: inline-block;
}

.payNumber p {
  font-size: 32px;
}

.payNumber span {
  font-size: 12px;
}

.equalIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 29px;
  font-weight: 700;
  padding: 0px 21px;
}

.intro {
  text-align: left;
  margin-bottom: 32px;
}

.intro li {
  margin-bottom: 16px;
}

.intro p {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 32px;
  background-position: 0 5px;
  font-size: 16px;
}

/*faq css*/
.faq h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.faq ul {
  margin-bottom: 100px;
}

.faq li {
  padding: 16px 32px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-bottom: 16px;
}

.faqItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faqItem p {
  font-size: 18px;
}

.activeState p {
  font-weight: 700;
  color: #56C4C5;
}

.activeState .answer {
  font-weight: normal;
  font-size: 16px;
  color: #747474;
  padding: 24px 0px 16px;
}

.faqItem button {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .detailContent {
    width: 100%;
  }
  .intro {
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 769px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .detailContent {
    width: 100%;
  }
  .charge {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .intro {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 48px;
  }
  .pricing_banner h2 {
    font-size: 32px;
  }
  .pricing_banner {
    margin-bottom: 421px;
  }
  .pricingBg {
    top: 90px;
  }
  .pricingBgImg {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
    top: 90px;
  }
  .contentBox {
    padding: 24px 16px;
  }
  .subSection h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .charge {
    margin-bottom: 32px;
  }
  .charge a {
    font-size: 16px;
    padding: 8px 16px;
  }
  .user {
    padding: 16px 15px;
  }
  .userNumber p {
    font-size: 28px;
  }
  .perMonth {
    padding: 16px 15px;
  }
  .intro {
    width: 100%;
  }
  .detail {
    margin-bottom: 60px;
  }
  .faq h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .faqItem p {
    font-size: 16px;
  }
  .faq li {
    padding: 16px;
  }
  .activeState .answer {
    padding: 24px 0px 8px;
  }
  .faq ul {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=all.css.map */